.left-column{
  background-color: #d2ddd4
}

.heading{
  background-color: #34352f;
  margin-left: 150px;
  margin-right: 150px;
  color: white;
  padding-bottom: 10px;
}

.link-bar{
  background-color: #34352f;
  margin-left: 150px;
  margin-right: 150px;
  color: white;
}